@import "tailwindcss";
@plugin "autoprefixer";

@theme {
  --color-root-bg: #0f1115;
  --color-card-bg: #1c1f26;
  --color-input-bg: #111318;
  --color-primary: #3b5b88;
}

/* ZLA 1981 / KOA Manager Global Defaults */
body {
  @apply bg-[#0f1115] text-slate-200/50 font-sans antialiased h-screen w-screen overflow-hidden m-0;
}
